*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************/
/* Main Page Background */
/************************/
.background {
    width: 100%;
    height: 100vh;
    background-image: url("../public/city.png");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: scroll;
}

/************************/
/*** Main Page Header ***/
/************************/
.title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 60px;
    margin-top: 100px;
    color: #F19236;
}

.titleAction {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F19236;
}

.joinBtn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/************************/
/*** Home Page Styling **/
/************************/
.homeCard {
    width: 1000px;
    height: 800px;
    background: whitesmoke;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: solid 3px #0D0630;
    overflow: scroll;
    box-shadow: 2px 2px #F19236;
}

.grid {
    margin-top: 20px;
}

.actionCardsHome {
    border: solid 3px #0D0630;
    border-radius: 3px;
    width: 500px;
}

.actionBox {
    border: solid 3px #0D0630;
    border-radius: 3px;
    margin: 10px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.actionImg {
    background-color: #F19236;
    height: 250px;
    width: 250px;
    border: 1px solid #0D0630;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.actionTitle {
    height: 40px;
    width: 80px;
    margin: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
}

.actionRaised {
    height: 40px;
    width: 80px;
    margin: 0 15px 30px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
}

/************************/
/* How It Works Styling */
/************************/
.howCard {
    display: flex-box;
    width: 1000px;
    height: 800px;
    background: whitesmoke;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: solid 3px #0D0630;
    overflow: scroll;
    box-shadow: 2px 2px #F19236;
}

.worksTitle {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    color: #F19236;
    text-decoration:  #0D0630 solid underline;
}

.worksText {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    padding: 0 50px 0 50px;
}

/************************/
/**** NavBar Styling ****/
/************************/
.navbar {
    display: flex;
    justify-content: center;
    height: 120px;
    color: rgb(209, 25, 25);
    font-size: 15px;
    background: #8BBEB2;
    margin-top: 30px;
    border-radius: 50%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border: ridge 3px #F19236;
    }

    .navbar ul {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 5;
    margin-left: -30px;
    }

    .navbar ul li {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;  
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
    }

    img {
        width: 250px;
        height: auto;
        margin-top: -70px;
    }

    /************************/
    /* Account Page Styling */
    /************************/
    .userCard {
        display: flex;
        justify-content: center;
        width: 1000px;
        height: 800px;
        background: whitesmoke;
        margin-top: 200px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }
    
    .welcome {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 10px;
        color: #F19236;
        text-decoration:  #0D0630 wavy underline;
    }

    /************************/
    /** Search Page Styling */
    /************************/
    .searchCard {
        display: block;
        justify-content: center;
        width: 1000px;
        height: 800px;
        background: whitesmoke;
        margin-top: 200px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .searchLabel {
        display: block;
        justify-content: center;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        color: #F19236;
      }
    
    .searchInput {
        display: block;
        justify-content: center;
        margin: 10px;
        height: 30px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .searchBtn {
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: #0D0630;
        background: #F19236;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
    }

    .searchPTag {
        display: block;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        color: lightgray;
    }

    /************************/
    /** Join Page Styling */
    /************************/
    .joinCard {
        display: flex-box;
        width: 1000px;
        height: 2720px;
        background: whitesmoke;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .titleJoin {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 60px;
        margin-top: 100px;
        color: #F19236;
    }

    .getStarted {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 40px;
        margin-top: 30px;
        color: #F19236;
    }
 
    /* STEP 1 - create username and stuff*/
    .addInfoCard {
        width: 500px;
        height: 500px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .infoBox {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        padding: 15px;
        margin: 20px;
    }

    .fName {
        width: 300px;
        height: 30px;
        padding: 15px;
    }

    .lName {
        width: 300px;
        height: 30px;
        padding: 15px;
    }

    .email {
        width: 300px;
        height: 30px;
        padding: 15px;
        margin-left: 40px;
    }
    /* STEP 2 - add information for the call to action*/
    .addActionCard {
        width: 500px;
        height: 730px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .actionDesc {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        padding: 15px;
        margin: 20px;
    }

    .actionTitle{
        width: 430px;
        height: 30px;
        padding: 10px;
    }

    .actionText{
        width: 430px;
        height: 200px;
    }

    .donationAmount {
        width: 300px;
        height: 30px;
        padding: 15px;
    }


    /* STEP 3 - upload images*/
    .addImageCard {
        width: 500px;
        height: 700px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .stepsText {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 40px;
        margin-top: 30px;
        color: #0D0630;
    }

    .formText {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        margin-top: 10px;
        color: #F19236;
    }

    .dropBtn {
        width: 300px;
        height: 300px;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        background:#F19236;
        border-radius: 4px;
        border: 3px dotted #0D0630;
    }

    .removeBtn {
        width: 100px;
        height: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        color: whitesmoke;
        background: #0D0630;
        border-radius: 4px;
        margin: 10px;
    }

    .upload__image-wrapper {
        margin-right: 20px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .image-item__btn-wrapper {
        padding: 10px;
    }

    /* STEP 4 - verify and submit*/
    .submitCard {
        width: 500px;
        height: 220px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
        margin-bottom: 40px;
    }

    .completeText {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        margin-top: 10px;
        color: #F19236;
        padding: 15px;
    }

    .createCall {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    /************************/
    /** Login Page Styling */
    /************************/
    .loginCard {
        display: block;
        justify-content: center;
        width: 1000px;
        height: 800px;
        background: whitesmoke;
        margin-top: 200px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .loginLabel {
        display: block;
        justify-content: center;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        color: #F19236;
      }
    
    .loginInput {
        display: block;
        justify-content: center;
        margin: 10px;
        height: 30px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .loginBtn {
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: #0D0630;
        background: #F19236;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
    }

    /************************/
    /** Signup Page Styling */
    /************************/
    .signupCard {
        display: block;
        justify-content: center;
        width: 1000px;
        height: 800px;
        background: whitesmoke;
        margin-top: 200px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .signupLabel {
        display: block;
        justify-content: center;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        color: #F19236;
      }
    
    .signupInput {
        display: block;
        justify-content: center;
        margin: 10px;
        height: 30px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .signupBtn {
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: #0D0630;
        background: #F19236;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
    }


