*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************/
/* Main Page Background */
/************************/
.background {
    width: 100%;
    height: 100vh;
    background-image: url("/city.png");
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: scroll;
}

/************************/
/*** Main Page Header ***/
/************************/
.title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 60px;
    color: #F19236;
    margin-top: -70px;
}

.titleAction {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #F19236;
}

.joinBtn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/************************/
/*** Home Page Styling **/
/************************/
.homeCard {
    width: 1000px;
    height: 800px;
    background: whitesmoke;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: solid 3px #0D0630;
    overflow: scroll;
    box-shadow: 2px 2px #F19236;
}

.grid {
    margin-top: 20px;
}

.actionCardHome {
    display: block;
    border: solid 3px #0D0630;
    border-radius: 10px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.actionBox {
    border: solid 3px #0D0630;
    border-radius: 3px;
    margin: 10px;
    width: 600px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}

.actionImg {
    background-color: #F19236;
    height: 250px;
    width: 250px;
    border: 1px solid #0D0630;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}

.btnCollection {
    display: inline-flex;
}

.actionTitle {
    background: #8BBEB2;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    padding: 10px;
    -webkit-animation: glow 15s ease-in-out infinite alternate;
    -moz-animation: glow 15s ease-in-out infinite alternate;
    animation: glow 15s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #F19236, 0 0 6px #F19236, 0 0 8px #F19236, 0 0 10px #F19236, 0 0 12px #F19236;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 2px #8BBEB2, 0 0 4px #8BBEB2, 0 0 6px #8BBEB2, 0 0 8px #8BBEB2, 0 0 10px #8BBEB2, 0 0 12px #8BBEB2;
    }
}

.actionCreator {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    border-radius: 4px;
    border: solid 1px #0D0630;
    padding-left: 10px;
}

.actionDescription {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 40px;
    height: 50px;
}

.actionRaised {
    height: 60px;
    width: 150px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 40px
}
.donateBtn {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px 10px;
    border-radius: 4px;
    background: #0D0630;
    color: whitesmoke;
    text-decoration: none;
    
}

/************************/
/* How It Works Styling */
/************************/
.howCard {
    display: flex-box;
    width: 1000px;
    height: 800px;
    background: whitesmoke;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: solid 3px #0D0630;
    overflow: scroll;
    box-shadow: 2px 2px #F19236;
}

.worksTitle {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    color: #F19236;
    text-decoration:  #0D0630 solid underline;
}

.worksText {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    padding: 0 50px 0 50px;
}

/************************/
/**** NavBar Styling ****/
/************************/
.navbar {
    display: flex;
    justify-content: center;
    height: 120px;
    color: rgb(209, 25, 25);
    font-size: 15px;
    background: #8BBEB2;
    margin-top: 30px;
    border-radius: 50%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border: ridge 3px #F19236;
    }

    .navbar ul {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 5;
    margin-left: -30px;
    }

    .navbar ul li {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;  
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
    }

    img {
        width: 250px;
        height: auto;
        margin-top: -70px;
    }

    .invisImg {
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        visibility: hidden;
    }

    /************************/
    /*** User Page Styling **/
    /************************/
    .userCard {
        text-align: center;
        width: 1000px;
        height: 800px;
        background: whitesmoke;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }
    
    .welcome {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
        color: #F19236;
    }

    .userEmail {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 10px;
        color: #F19236;
    }

    .myCalls {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 40px;
        background: whitesmoke;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    /************************/
    /** Search Page Styling */
    /************************/
    .searchCard {
        display: block;
        justify-content: center;
        width: 1000px;
        height: 800px;
        background: whitesmoke;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .searchLabel {
        display: block;
        justify-content: center;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        color: #F19236;
      }
    
    .searchInput {
        display: block;
        justify-content: center;
        margin: 10px;
        height: 30px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .searchBtn {
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        color: #0D0630;
        background: #F19236;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
    }

    .searchPTag {
        display: block;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        color: lightgray;
    }

    /************************/
    /** Join Page Styling */
    /************************/
    .joinCard {
        display: flex-box;
        width: 1000px;
        height: 900px;
        background: whitesmoke;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .joinCreateCard {
        display: flex-box;
        width: 1000px;
        height: 600px;
        background: whitesmoke;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .alreadyUser {
        text-align: center;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .titleJoin {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 60px;
        margin-top: -100px;
        color: #F19236;
    }

    .title2 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 60px;
        margin-top: 15px;
        color: #F19236;
    }

    .getStarted {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 40px;
        margin-top: 30px;
        color: #F19236;
    }
 
    /* STEP 1 - create username and stuff*/
    .addInfoCard {
        width: 500px;
        height: 670px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .addCreateCard {
        display: block;
        width: 500px;
        height: 500px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .infoBox {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        padding: 15px;
        margin: 20px;
    }

    .fName {
        width: 300px;
        height: 30px;
        padding: 15px;
    }

    .lName {
        width: 300px;
        height: 30px;
        padding: 15px;
    }

    .username {
        width: 300px;
        height: 30px;
        padding: 15px;
        margin-left: 40px;
        margin-bottom: 20px;
    }
    .email {
        width: 300px;
        height: 30px;
        padding: 15px;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    i {
        color: #8BBEB2;
    }
    /* STEP 2 - add information for the call to action*/
    .addActionCard {
        width: 500px;
        height: 730px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .actionDesc {
        vertical-align: text-top;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        padding: 10px;
        width: 430px;
        height: 200px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .actionT {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        width: 430px;
        height: 30px;
        padding: 10px;
        margin-top: 20px;
    }

    .actionText{
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        width: 430px;
        height: 200px;
    }

    .donationAmount {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        width: 430px;
        height: 30px;
        padding: 15px;
        font-size: 20px;
        margin-top: 20px;
    }


    /* STEP 3 - upload images*/
    .addImageCard {
        width: 500px;
        height: 700px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .stepsText {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 40px;
        margin-top: 30px;
        color: #0D0630;
    }

    .formText {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        margin-top: 10px;
        color: #F19236;
    }

    .dropBtn {
        width: 300px;
        height: 300px;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        background:#F19236;
        border-radius: 4px;
        border: 3px dotted #0D0630;
    }

    .removeBtn {
        width: 100px;
        height: 50px;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        color: whitesmoke;
        background: #0D0630;
        border-radius: 4px;
        margin: 10px;
    }

    .upload__image-wrapper {
        margin-right: 20px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .image-item__btn-wrapper {
        padding: 10px;
    }

    /* STEP 4 - verify and submit*/
    .submitCard {
        width: 500px;
        height: 220px;
        background: whitesmoke;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
        margin-bottom: 40px;
    }

    .completeText {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        margin-top: 10px;
        color: #F19236;
        padding: 15px;
    }

    .createCall {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    /*****************************/
    /** Fund Detail Page Styling */
    /*****************************/

    .detailCard {
        display: block;
        justify-content: center;
        width: 1000px;
        height: 600px;
        background: whitesmoke;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .detailHeader {
        display: block;
        justify-content: center;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 50px;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        color: #F19236;
    }

    .detailInfo {
        display: block;
        justify-content: center;
        width: 600px;
        height: 400px;
        background: whitesmoke;
        margin-top: 50px;
        margin-right: auto;
        margin-left: 30px;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .detailInfo2 {
        display: block;
        justify-content: center;
        width: 600px;
        height: 400px;
        background: whitesmoke;
        margin-top: 300px;
        margin-right: auto;
        margin-left: 30px;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .donationDetail {
        display: block;
        justify-content: center;
        width: 300px;
        height: 400px;
        background: whitesmoke;
        margin-top: -400px;
        margin-right: 30px;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .donationHeader {
        display: block;
        justify-content: center;
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        color: #0D0630;
        border-bottom: 3px solid #0D0630;
        background: #8BBEB2;
    }

    .donationGiven {
        display: block;
        justify-content:left;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 15px;
        padding: 10px;
        margin: 20px;
        color: #0D0630;
        border: 3px solid #0D0630;
        box-shadow: 2px 2px #F19236;
        border-radius: 5px;
    }

    .comingSoonCard {
        display: block;
        width: 180px;
        height: 180px;
        background: #8BBEB2;
        padding: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: 3px dotted #0D0630;
        border-radius: 5px;
    }

    .comingSoonText {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    .actionInfo {
        display: block;
        justify-content:left;
        height: 160px;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 15px;
        padding: 10px;
        margin: 20px;
        color: #0D0630;
        border: 3px solid #0D0630;
        box-shadow: 2px 2px #F19236;
        border-radius: 5px;
    }

    .amountDonated {
        display: block;
        padding: 5px;
    }

    .description {
        display: block;
        padding: 5px;
        height: 80px;
    }

    .detailTitle {
        display: block;
        padding: 5px;
    }

    /*****************************/
    /****** Media Queries ********/
    /*****************************/
    @media (max-width: 1019px) {
        .navbar {
            font-size: 15px;
            border-radius: 0px;
            margin-left: auto;
            margin-right: auto;
            border: ridge 3px #F19236;
            margin-top: 0px;
            }
        
        .navbar ul {
            margin-left: -30px;
        }

        .navbar ul li {
           font-size: 13px;
        }

        .userCard {
            width: 800px;
        }

        .homeCard {
            width: 800px;
        }

        .searchCard {
            width: 800px;
        }

        .howCard {
            width: 800px;
        }

        .joinCard {
            width: 800px;
        }

        .joinCreateCard {
            width: 800px;
        }

        .userCard {
            width: 800px;
        }

        .titleJoin {
            font-size: 60px;
            margin-top: -50px;
            color: #F19236;
        }

        .detailCard {
            width: 800px;
            height: 1000px;
            margin-top: 0px;
        }

        .detailInfo {
            margin-left: auto;
        }

        .donationDetail {
            width: 600px;
            height: 400px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (max-width: 885px) {
        .navbar {
            font-size: 15px;
            border-radius: 0px;
            margin-left: auto;
            margin-right: auto;
            border: ridge 3px #F19236;
            margin-top: 0px;
        }
        
        .navbar ul {
            display: flex;
            justify-content: center;
            color: white;
            font-size: 1.3rem;
            text-decoration: none;
            line-height: 5;
            margin-left: 0px;
        }
        
        .navbar ul li {
            display: flex;
            justify-content: center;
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-style: normal;  
            font-size: 14px;
            margin-top: auto;
            margin-bottom: auto;
            list-style-type: none;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .visImg {
            width: 0px;
            height: auto;
            margin-top: 0px;
            visibility: hidden;
        }
        
        .invisImg {
            margin-top: -40px;
            visibility: visible;
        }

        .title {
            font-size: 40px;
            margin-top: -50px;
        }
        
        .titleAction {
            font-size: 30px;
        }

        .homeCard {
            width: 400px;
        }

        .grid {
            margin-top: 20px;
        }
        
        .actionCardHome {
            width: 370px;
        }
        
        .actionBox {
            margin: 10px;
            width: 370px;
        }

        .searchCard {
            width: 400px;
            margin-top: -50px;
        }
        
        .searchLabel {
            font-size: 20px;
          }
        
        .searchInput {
            width: 350px;
        }
    
        .searchBtn {
            font-size: 20px;
        }
    
        .searchPTag {
            font-size: 20px;
        }

        .howCard {
            width: 400px;
            margin-top: 20px;
        }

        .userCard {
            width: 400px;
            margin-top: 20px;
        }

        .worksTitle {
            font-size: 40px;
        }

        .welcome {
            font-size: 24px;
        }

        .userEmail {
            font-size: 24px;
        }
        
        .worksText {
            font-size: 15px;
        }

        .joinCard {
            width: 400px;
            height: 2720px;
            margin-top: 100px;
        }

        .joinCreateCard {
            width: 400px;
            height: 600px;
            margin-top: 100px;
        }

        .addCreateCard {
            width: 380px;
            margin-top: 20px;
        }
    
        .titleJoin {
            font-size: 50px;
            margin-top: 0px;
        }
    
        .title2 {
            font-size: 40px;
        }
     
        /* STEP 1 - create username and stuff*/
        .addInfoCard {
            width: 370px;
            height: 600px;
        }
    
        .email {
            margin-left: 0px;
        }

        /* STEP 2 - add information for the call to action*/
        .addActionCard {
            width: 370px;
            height: 650px;
        }
    
        .actionDesc {
            font-size: 15px;
            padding: 5px;
        }
    
        .actionTitle{
            width: 325px;
            height: 30px;
            padding: 10px;
            font-size: 15px;
        }
    
        .actionText{
            width: 325px;
            height: 200px;
        }
    
        .donationAmount {
            width: 300px;
            font-size: 10px;
        }
    
    
        /* STEP 3 - upload images*/
        .addImageCard {
            width: 370px;
            height: 700px;
        }
    
        .stepsText {
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-style: normal;
            font-size: 40px;
            margin-top: 30px;
            color: #0D0630;
        }
    
        .formText {
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-style: normal;
            font-size: 20px;
            margin-top: 10px;
            color: #F19236;
        }
    
        .dropBtn {
            width: 300px;
            height: 300px;
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-style: normal;
            background:#F19236;
            border-radius: 4px;
            border: 3px dotted #0D0630;
        }
    
        .upload__image-wrapper {
            margin-right: 20px;
            margin-left: 35px;
            margin-top: 20px;
        }
    
        .image-item__btn-wrapper {
            padding: 10px;
        }
    
        /* STEP 4 - verify and submit*/
        .submitCard {
            width: 370px;
            margin-bottom: 40px;
        }

        .detailCard {
            width: 370px;
            height: 1000px;
            margin-top: 0px;
        }

        .detailInfo {
            margin-left: auto;
        }

        .donationDetail {
            width: 370px;
            height: 400px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .detailHeader {
            font-size: 40px;
        }
    
        .detailInfo {
            display: block;
            justify-content: center;
            width: 350px;
            height: 400px;
            background: whitesmoke;
            margin-top: 50px;
            margin-right: auto;
            margin-left: auto;
            border-radius: 10px;
            border: solid 3px #0D0630;
            overflow: scroll;
            box-shadow: 2px 2px #F19236;
        }
    
        .donationDetail {
            width: 350px;
            margin-right: auto;
            margin-left: auto;
            border-radius: 10px;
            border: solid 3px #0D0630;
            overflow: scroll;
            box-shadow: 2px 2px #F19236;
        }
    
        .comingSoonCard {
            display: block;
            width: 180px;
            height: 180px;
            background: #8BBEB2;
            padding: 3px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            border: 3px dotted #0D0630;
            border-radius: 5px;
        }
    
        .comingSoonText {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
        }
    
        .actionInfo {
            display: block;
            justify-content:left;
            height: 160px;
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-style: normal;
            font-size: 15px;
            padding: 10px;
            margin: 20px;
            color: #0D0630;
            border: 3px solid #0D0630;
            box-shadow: 2px 2px #F19236;
            border-radius: 5px;
        }
    
        .amountDonated {
            display: block;
            padding: 5px;
        }
    
        .description {
            display: block;
            padding: 5px;
            height: 80px;
        }
    
        .detailTitle {
            display: block;
            padding: 5px;
        }
    }

    /************************/
    /** Login Page Styling **/
    /************************/
    .loginCard {
        display: block;
        justify-content: center;
        width: 1000px;
        height: 620px;
        background: whitesmoke;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 10px;
        border: solid 3px #0D0630;
        overflow: scroll;
        box-shadow: 2px 2px #F19236;
    }

    .loginText {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 50px;
        margin-top: 40px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        color: #F19236;
      }

    .loginLabel {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 50px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        color: #F19236;
    }

    .loginInput1 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }

    .loginInput2 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 30px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 380px;
    }

    .loginBtn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 20px;
        font-size: 25px;
        border-radius: 6px;
        background: #8BBEB2;
    }

    .notUser {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    @media (max-width: 1019px) {
        .loginCard {
            width: 800px;
        }
    }

    @media (max-width: 885px) {
        .loginCard {
            width: 370px;
            height: 500px;
        }

        .loginText {
            font-size: 30px;
          }
    
        .loginLabel {
            font-size: 30px;
            margin-top: 20px;
        }
    
        .loginInput1 {
            font-size: 20px;
            margin-top: 15px;
            width: 300px;
        }
    
        .loginInput2 {
            font-size: 20px;
            margin-top: 15px;
            width: 300px;
        }

        .username {
            width: 260px;
            height: 30px;
            padding: 15px;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        .email {
            width: 260px;
            height: 30px;
            padding: 15px;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        .actionT {
            width: 300px;
        }

        .actionDesc {
            width: 300px;
        }

        .addInfoCard {
            height: 670px;
        }

        .joinCard {
            height: 850px;
        }
    }
