/* General styles */
body {
    font-family: Arial, sans-serif;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

/* App container */
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/* Checkout form */
.donation-form {
    background-color: rgba(255, 255, 255, 0.667);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* CardElement container */
.card-element {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Submit button */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.donation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.amount-container {

}

.amount-title {
    font-size: 15px;
    color: #32325d;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 5px;
}

.amount-input {
    font-size: 16px;
    color: #32325d;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    height: 45px;
    background-color: #EFEFEF;
    border: none;
    border-radius: 10px;
}

/* Style the placeholder text */
.amount-input::placeholder {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.65);
}

/* Style the input when it is focused */
.amount-input:focus {
    padding-left: 10px;
    color: #32325d;
}

.donate-title {
    text-align: center;
}

.card-element {
    margin: 10px 0;
}