.userCard {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 800px;
    background: whitesmoke;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    border: solid 3px #0D0630;
    overflow: scroll;
    box-shadow: 2px 2px #F19236;
}

.welcome {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #F19236;
    text-decoration:  #0D0630 wavy underline;
}